# Virtual environments
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Build artifacts
build/
dist/
*.egg-info/

# Environment variable files
.env

.venv/
*.csv